.appcontainer{
  display: flex;
}
.others{
  flex:6;
}


.topbar{
  height: 50px;
  background-color: #337ab7;
  position: sticky;
  top: 0;
  z-index: 998;
}
.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.topLeft{
  display: flex;
  align-items: center;
}
.drawerbutton{

  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
  display: none;

  background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}
.topRight{
  display: flex;
  align-items: center;
}
.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
 
  color:white;
}

.topIconBadge{
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right:0px;
  background-color: red;
  color: white;
  border-radius: 50%;display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor:pointer
}

.sidebar#hidden  {
  min-height:100vh;
  background-color: #333333;
  position: sticky;
  top: 50px;
  z-index: 999;
  position: inherit;
  top: 0px;
  width: auto;
  transition-timing-function: ease-in-out;
}

.sidebar{
  flex:1;
  min-height:100vh;
  background-color: #333333;
  position: sticky;
  top: 50px;
  z-index: 999;
}

.sidebarWrapper{
  padding: 20px;
  color:white
}

.sidebarMenu{
  margin-bottom: 10px;
}

.sidebarTitle{
  display: flex;
  font-size: 13px;
  color:white
}
.sidebarList{
  list-style: none;
  padding: 5px;
}

.sidebarListItem{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
  background-color: rgb(228,228,250);
}
.sidebarIcon{
  margin-right: 5px;
  font-size: 20px !important;
}



.sidebarWrapper#hidden{
  padding: 20px;
  color:white
}

.sidebarMenu#hidden{
  margin-bottom: 10px;
}

.sidebarTitle#hidden{
  font-size: 13px;
  color:white
}
.sidebarList#hidden{
  list-style: none;
  padding: 5px;
}

.sidebarListItem#hidden{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarItemTitle#hidden , .sidebarTitle#hidden{
  display: block;
  /* color: #000; */
}
.sidebarListItem.active,
.sidebarListItem:hover{
  background-color: rgb(228,228,250);
}
.sidebarIcon#hidden{
  margin-right: 5px;
  font-size: 20px !important;
  color:white;
}
.drawerbutton#hidden{
  display: none;
}

@media screen and (max-width: 768px) {
  .others{
   width: 100%;
  }
  .sidebar{
    /* padding-top: 30px; */
    width: 50px;
    background-color: #333333;
    /* margin-right:5px; */
  }
  .sidebarWrapper{
    padding: 0px;
  }
  .sidebarItemTitle , .sidebarTitle{
    display: none;
  }
  .topbar{
    width: calc(100vw - 50px);
  }
  .sidebarListItem{
    padding-bottom: 15px;;
  }
  .sidebarIcon{
    color: white;
  }
  .drawerbutton{
    display: inline;
    color: white;
  }
} 










.item1 { grid-area: header; }
.item2 { grid-area: name; }
.item3 { grid-area: buy; }
.item4 { grid-area: price; }
.item5 { grid-area: beds; }
.item6 { grid-area: baths; }
.item7 { grid-area: area; }
.item8 { grid-area: furnished; }
.item9 { grid-area: status; }
.item10 { grid-area: type; }
.item11 { grid-area: userid; }
.item12 { grid-area: onplan; }
.item13 { grid-area: city; }
.item14 { grid-area: location; }
.item15 { grid-area: description; }
.item16 { grid-area: upload; }
.item17 { grid-area: delete; }
.item18 { grid-area: button; }
.item19 { grid-area: image; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header  '
    
  ' . image image image image .'
  ' . image image image image . '
    'name name buy buy price price '
    'beds baths area furnished status status'
    'type type userid userid onplan onplan'
    'city city location location . .'
    ' description description description upload delete .'
    ' description description description .  button button'
    ' description description description .  button button';
  grid-gap: 10px;
  background-color: #e7ebeb;
  padding: 10px;
  min-width: 1250px;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.grid-container > div {
  /* background-color: rgba(109, 109, 109, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: inherit;
   min-width: 200px;
}


.grid-containerc {
  display: grid;
  grid-template-areas:
    'header header header header header header  '
    
  ' . image image image image .'
  ' . image image image image . '
    'name name buy buy price price '
    'area area furnished furnished status type'
    'userid onplan city city location location'
    ' description description description upload delete .'
    ' description description description .  button button'
    ' description description description .  button button';
  grid-gap: 10px;
  background-color: #e7ebeb;
  padding: 10px;
  min-width: 1250px;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.grid-containerc > div {
  /* background-color: rgba(109, 109, 109, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: inherit;
   min-width: 200px;
}


.grid-container1 {
  display: grid;
  grid-template-areas:
    'header  '
    'name  '
    'buy '
    'price ';
  grid-gap: 20px;
  /* background-color: #66cbf386; */
  padding: 10px;
}

.grid-container1 > div {
  /* background-color: rgba(109, 109, 109, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container1 > div >button {
  padding:5px;
  width: 60%;
  color: white;
  background: linear-gradient(90deg,  rgba(0,212,255,1) 4%, rgba(98,144,164,1) 50%,rgba(178,41,180,1) 100%);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.headingc{
  /* height: 50px; */
  /* position: sticky; */
  /* z-index: 998; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightside{
  display: flex;
  align-items: center;
}

.leftside{
  display: flex;
  align-items: center;
}
.logoc{
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  cursor: pointer;
}